* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul {
    list-style: none;
    display: flex;
    
}

#mechanic-section .mec-section {
    display: flex;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: black;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}



#mechanic-section {
    padding: 80px 0;
}

#mechanic-section .image-section {
    width: 40%;
    background-image: url(https://i.postimg.cc/65PDMC7G/Header-Image-1.png);
    background-size: cover;
    height: 65vh;
    
}

#mechanic-section .container {
    width: 80%;
    margin: 0 auto;
}

 #mechanic-section .text-section {
     width: 60%;
     background: #1E1B1B;
 }

 #mechanic-section .text-section h1 {
     font-size: 64px;
     color: #fff;
     margin-bottom: 30px;
     padding: 10px 50px;
 }

 #mechanic-section .text-section p {
     color: #fff;
     font-size: 18px;
     padding: 10px 50px;
 }

 .orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
    color: #fff;
}

#mechanic-section .text-section a {
    margin-bottom: 50px;
    margin-left: 50px;
}

#diagnostics-section {
    background: #F5F5F5;
}

#diagnostics-section .container {
    width: 80%;
    margin: 0 auto;
}

#diagnostics-section .mec-section .left-diagnostics-section {
    width: 40%;
    background: #fff;
}

#diagnostics-section .mec-section .left-diagnostics-section .image-part img {
    min-height: 50vh;
    width: 100%;
    
}

#diagnostics-section .mec-section {
    display: flex;
}



#diagnostics-section .mec-section .left-diagnostics-section .text-part h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
}

#diagnostics-section .mec-section .left-diagnostics-section .text-part p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#diagnostics-section .mec-section .left-diagnostics-section {
    width: 80%;
    padding: 20px;
}

#diagnostics-section .mec-section .left-diagnostics-section .details a {
    text-decoration: none;
    font-size: 18px;
    color: #1E1B1B;
    margin-right: 10px;
}

#diagnostics-section .mec-section .right-diagnostics-section {
    width: 150%;
    min-height: 50vh;
}

#diagnostics-section  .mec-section .right-diagnostics-section .flex-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

#diagnostics-section .mec-section .right-diagnostics-section .flex-sections .flex-section-box {
    background: #ffff;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
    padding: 15px;
   
}

#diagnostics-section .mec-section .right-diagnostics-section .flex-sections .flex-section-box:hover {
    background: #FF6433;
    color: #fff;
}

#processing .process {
    display: flex;
    justify-content: space-between;
}

#processing .left-ct {
    width: 40%;
}


#processing .right-ct {
    width: 50%;
    
}

#processing .left-ct ul li {
    list-style: none;
}

#processing .left-ct .flex-1 {
    display: flex;
    margin-bottom: 20px;
}

#processing .left-ct h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#processing .left-ct .image-box {
    width: 10%;
    margin-right: 15px;
}

#processing .left-ct .image-box img {
    width: 100%;
}

#processing .left-ct .text-box {
    width: 70%;
}

#processing .left-ct .text-box p {
    margin-bottom: 15px;
}

#processing .right-ct .cars, #diagnosis .diagnose .left-dg .cars {
    display: flex;
    padding: 15px;
    
}

#processing .right-ct .cars img {
    height: 60vh;
    width: 70%;
    margin-right: 15px;
}

#diagnosis .diagnose .left-dg {
    width: 50%;
}

#diagnosis {
    margin-bottom: 300px;
}

#diagnosis .diagnose .right-dg {
    width: 45%;
}

#diagnosis .diagnose {
    display: flex;
    justify-content: space-between;
}

#diagnosis .diagnose .left-dg .cars img {
    margin-left: 15px;
    height: 65vh;
    width: 70%;
}

#diagnosis .diagnose .right-dg h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    
}

#diagnosis .diagnose .right-dg p {
    font-family: sans-serif;
}

#touch-section {
    background: #1E1B1B;
    min-height: 40vh;
    padding: 80px 0;
}

#touch-section .left-touch-section {
    width: 40%;
}

#touch-section .torch {
    display: flex;
    justify-content: space-between;
}

#touch-section .left-touch-section h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700 bold;
    margin-bottom: 40px;
}

#touch-section .left-touch-section .social-media {
    width: 70%;
    gap: 20px;
    display: flex;
}

#touch-section .right-touch-section {
    width: 40%;
}

#touch-section .right-touch-section .items ul li p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
}


#touch-section .right-touch-section .items ul li {
    list-style: none;
}

#touch-section .right-touch-section h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

#touch-section .container {
    justify-content: space-between;
}

#end {
    background: #1E1B1B;
    min-height: 60px;
}

#end .right-section .navigation-1 ul li a {
    color: #fff;
}

#end .road-assistance .inner-section {
    color: #fff;
}








